node_modules
npm-debug.log
build
dist
.next
.git
.gitignore
README.md
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
*.pem
.DS_Store
coverage
.env
.env.example
test
tmp
migrations_backup
